*{
    padding:0;
    margin:0;
    outline:none;
    box-sizing: border-box;
    font-family:arial;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    background:rgb(219, 219, 219);
}
.container{
    display: flex;
    flex-direction: column;
    border: none;
    outline: none;
    background:rgb(255, 255, 255);
    width:400px;
    border-radius:5px;
}
.inner{
    padding:20px 10px;
    display:flex;
    justify-content: center;
    width:100%;
    height:50%;
    background: rgb(30, 30, 30);
    border-radius: 5px 5px 0 0;
}
.inner button{
    width:calc(100%/2);
    height:50px;
    border-radius:10px;
    background: rgb(11, 11, 11);
    border:none;
    font-size:1rem;
    color:white;
    text-transform: capitalize;
    cursor:pointer;
}

.inner button:hover{
    background: white;
    border:1px solid rgb(11, 11, 11);
    color:rgb(0, 0, 0);
    cursor:pointer;
    transition:all .2s linear;
}
.titles{
    text-transform: capitalize;
    width:100%;
    padding:10px;
    display:flex;
    justify-content: space-between;
}
.hidden{
    display:none;
    transform: scale(0);
}
.titles a{
    text-decoration: none;
    background-color: rgb(145, 0, 0);
    color:white;
    padding:2px 8px;
    border-radius: 5px;
    font-size:14px;
}
.colors{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-direction: row;
}
.colors.hidden{
    display: none;
    transform: scale(0);
}
.colors .color{
    display:flex;
    width: calc(100%/3);
    margin:5px auto;
    justify-self: flex-start;
}
.colors .color div{
    width:20px;
    height:20px;
    margin-right:3px;
    border-radius: 3px;
}
footer{
    width:100%;
    text-transform: lowercase;
    font-weight:500;
    color:white;
    background:rgb(30, 30, 30);
    padding:5px;
    text-align: center;
    font-size:13px;
}